{% extends 'base.html.twig' %}

{% block title %}Les annonces{% endblock %}

{% block body %}
    <h1>Liste des annonces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Localisation</th>
                <th>Resumé</th>
                <th>Date de publication</th>
                <th>Date de modification</th>
                <th>Période de location</th>
                <th>Prix</th>
                <th>Nb de chambres</th>
                <th>Nb de lits</th>
                <th>Photo</th>
                <th>Nb de personnes</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.town }}</td>
                <td>{{ annonce.localisation }}</td>
                <td>{{ annonce.resume }}</td>
                <td>{{ annonce.publishedDate ? annonce.publishedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.modificationDate ? annonce.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.periodDate ? annonce.periodDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.price }}</td>
                <td>{{ annonce.roomNumber }}</td>
                <td>{{ annonce.bedNumber }}</td>
                <td>{{ annonce.picture }}</td>
                <td>{{ annonce.personNumber }}</td>
                <td>{{ annonce.statut ? 'Activé' : 'Désactivé' }}</td>
                <td>
                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">Voir</a>
                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonce_new') }}">Ajouter une nouvelle annonce</a>
{% endblock %}
