{% extends 'base.html.twig' %}

{% block title %}{{  title }}{% endblock %}

{% block body %}
    {% if annonce is defined %}
        {% set entity = annonce %}
        {% set name = 'annonce' %}

    <h1>{{  title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ annonce.localisation }}</td>
            </tr>
            <tr>
                <th>Resumé</th>
                <td>{{ annonce.resume }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ annonce.publishedDate ? annonce.publishedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{{ annonce.modificationDate ? annonce.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Période de réservation</th>
                <td>{{ annonce.periodDate ? annonce.periodDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.price }}</td>
            </tr>
            <tr>
                <th>Nb de chambres</th>
                <td>{{ annonce.roomNumber }}</td>
            </tr>
            <tr>
                <th>Nb de lits</th>
                <td>{{ annonce.bedNumber }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ annonce.picture }}</td>
            </tr>
            <tr>
                <th>Nb de personnes</th>
                <td>{{ annonce.personNumber }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ annonce.statut ? 'Activé' : 'Désactivé' }}</td>
            </tr>
        </tbody>
    </table>


 {% endif %}

    <a href="{{ path('app_annonce_index') }}">Retour à la liste</a>

    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">Éditer</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
