{% extends 'base.html.twig' %}

{% block title %} Les Catégories{% endblock %}

{% block body %}
    {% if categories is defined %}  

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type de bien</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>

                <td>{{ category.statut ? 'Active' : 'Désactivé' }}</td>
                


                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Voir</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




    <a href="{{ path('app_category_new') }}">Ajouter une nouvelle catégorie</a>

     {% endif %}

{% endblock %}
